<!doctype html>
<title>BioStars Watcher</title>
<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}
<script type=text/javascript>
    $(document).ready(function() {
        $.getJSON(
            $SCRIPT_ROOT + '/get_questions',
            {},
            function(data) {
                $.each(data.questions, function(index, question) {
                    tr = '<tr>';
                    tr = tr + '<td><a href="' + question.url      + '">' + question.summary  + '</a></td>';
                    tr = tr + '<td><a href="' + question.jira_url + '">' + question.jira_key + '</a></td>';
                    tr = tr + '</tr>';
                    $('#questionTable > tbody:last').prepend(tr);
                });
            }
        );
    });
    $(function poll(){
        setTimeout(function() {
            $.getJSON(
                $SCRIPT_ROOT + '/get_new_questions',
                {},
                function(data) {
                    $.each(data.questions, function(index, question) {
                        tr = '<tr>';
                        tr = tr + '<td><a href="' + question.url      + '">' + question.summary  + '</a></td>';
                        tr = tr + '<td><a href="' + question.jira_url + '">' + question.jira_key + '</a></td>';
                        tr = tr + '</tr>';
                        $('#questionTable > tbody:last').prepend(tr);
                    });
                    poll();
                }
            );
         }, 5000);
     });
</script>
<div class=page>
    <table id="questionTable">
        <thead>
            <tr>
                <td>Question</td>
                <td>JIRA</td>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}<tr>{{ question }}</tr>{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
